.idea/.idea.enginevalidator/.idea/.name
.idea/.idea.enginevalidator/.idea/indexLayout.xml
.idea/.idea.enginevalidator/.idea/vcs.xml
.idea/config/applicationhost.config
.vs/enginevalidator.csproj.dtbcache.json
.vs/enginevalidator/config/applicationhost.config
.vs/enginevalidator/config/applicationhost.config
.vs/enginevalidator/FileContentIndex/3d02710b-7452-4bcd-9450-9af1cbc7fff2.vsidx
.vs/enginevalidator/FileContentIndex/5fa93246-aacc-4c55-8bb1-0a9917eb4729.vsidx
.vs/enginevalidator/FileContentIndex/cf28c610-4205-4461-ab71-3000bf61d931.vsidx
.vs/enginevalidator/FileContentIndex/e0d31cfd-14de-4433-93eb-0dac9b669256.vsidx
.vs/enginevalidator/FileContentIndex/ec8f3a8e-442f-4e3e-8ec4-b7bc85bdd85a.vsidx
.vs/enginevalidator/config/applicationhost.config
.vs/enginevalidator/v18/DocumentLayout.backup.json
.vs/enginevalidator/v18/DocumentLayout.json
bin/enginevalidator.dll
bin/enginevalidator.pdb
bin/Newtonsoft.Json.dll
bin/Newtonsoft.Json.xml
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/engineva.C690A800.Up2Date
obj/Debug/enginevalidator.csproj.AssemblyReference.cache
obj/Debug/enginevalidator.csproj.CoreCompileInputs.cache
obj/Debug/enginevalidator.csproj.FileListAbsolute.txt
obj/Debug/enginevalidator.dll
obj/Debug/enginevalidator.pdb
.vs/enginevalidator/config/applicationhost.config
.vs/enginevalidator/v18/.suo
bin/enginevalidator.dll
bin/enginevalidator.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/enginevalidator.csproj.AssemblyReference.cache
obj/Debug/enginevalidator.csproj.CoreCompileInputs.cache
obj/Debug/enginevalidator.csproj.FileListAbsolute.txt
obj/Debug/enginevalidator.dll
obj/Debug/enginevalidator.pdb
